.App {
  text-align: center;
 
}
*{
  margin: 0;
  padding: 0;
}
.header{
height: 250px;
background-color: rgb(81, 208, 202);
color: azure;
font-weight: bold;
font-size: 600;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
display: flex;
align-items: center;
justify-content: center;
}
.card{
  width: 300px;
  height: 450px;
background-color: rgb(229, 236, 233);
border-radius: 10px;
margin: 50px;


  
}
.card img {
  padding-top: 30px;
  width: 80px;
  padding-bottom: 20px;
}
.list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  line-height: 50px;

  
}